/* src/components/Header/Header.scss */

.header {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  background-color: #fff;

  // 
  &__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  // КОНТЕНТ
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  // ЛОГОТИП
  &__logo {
  
    margin: 0;
    color: #000; 

    .red-dot {
      color: #eb4d4b;
      margin-left: 2px;
    }
  }

  // МЕНЮ
  &__menu {
    // 
    &-list { 
      display: flex; 
      gap: 50px;
      list-style: none;// ВИДАЛИТЬ МАРКЕРИ!
      margin: 0;
      padding: 0;
    }
    
    
    &-item { 
        
    }

    &-link {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #eb4d4b; // Колір hover
      }
    }
  }

  // СОЦМЕРЕЖ
  &__socials {
    display: flex; // 
    gap: 24px;

    &-link { //
      color: #aaa;
      display: flex; // 
      align-items: center;
      transition: color 0.3s;

      &:hover {
        color: #333;
      }
    }
  }
  
  // 
  @media (max-width: 768px) {
    &__menu,
    &__socials {
      display: none;
    }

    &__logo {
      font-size: 28px;
    }
  }
}