/* src/components/Header/Header.scss */
.header {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  background-color: #fff;

  &__inner {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    color: #000;

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: baseline;
    }

    .red-dot {
      color: #eb4d4b;
      margin-left: 2px;
    }
  }

  &__nav {
    ul {
      display: flex;
      gap: 50px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .header__link {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      text-decoration: none;
      transition: color 0.3s;

      &.is-active,
      &:hover {
        color: #eb4d4b;
      }
    }
  }

  &__socials {
    display: flex;
    gap: 24px;

    a {
      color: #aaa;
      transition: color 0.3s;

      &:hover {
        color: #333;
      }
    }
  }

  /* Мобілка (поки просто ховаємо меню і соцмережі) */
  @media (max-width: 768px) {
    &__nav,
    &__socials {
      display: none;
    }

    &__logo {
      font-size: 28px;
    }
  }
}