:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-accent: #a50000;

  --color-gray: rgb(0 0 0 / 0.1);

  --border: var(--border-width-m) solid var(--color-accent);

  --gradient :liner-gradient(
    180deg,
    rgba(231, 249, 253, 0.00) 0%,
    #fE7F9FD 100%
  );

  --border-width-xl: 6px;
  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --font-family-base: 'Manrope';

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
  )};
}